{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <div id="content-main">

{#    {% if app_list %}#}
{#        {% for app in app_list %}#}
{#            <div class="app-{{ app.app_label }} module">#}
{#            <table>#}
{#            <caption>#}
{#                <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>#}
{#            </caption>#}
{#            {% for model in app.models %}#}
{#                <tr class="model-{{ model.object_name|lower }}">#}
{#                {% if model.admin_url %}#}
{#                    <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>#}
{#                {% else %}#}
{#                    <th scope="row">{{ model.name }}</th>#}
{#                {% endif %}#}
{#    #}
{#                {% if model.add_url %}#}
{#                    <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>#}
{#                {% else %}#}
{#                    <td>&nbsp;</td>#}
{#                {% endif %}#}
{#    #}
{#                {% if model.admin_url %}#}
{#                    <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>#}
{#                {% else %}#}
{#                    <td>&nbsp;</td>#}
{#                {% endif %}#}
{#                </tr>#}
{#            {% endfor %}#}
{#            </table>#}
{#            </div>#}
{#        {% endfor %}#}
{#    {% else %}#}
{#        <p>{% trans "You don't have permission to edit anything." %}</p>#}
{#    {% endif %}#}


        Silvio Santos Ipsum ma o Silvio Santos Ipsum é muitoam interesanteam. Com ele ma você vai gerar textuans ha haae. Ma você, topa ou não topamm. Mah você não consegue né Moisés? Você não consegueam. Patríciaaammmm... Luiz Ricardouaaammmmmm. Mah roda a roduamm. Ma você está certo dissoam? Mah ooooee vem pra cá. Vem pra cá. É por sua conta e riscoamm? É fácil ou não éam?
        Ma vai pra lá. Ma quem quer dinheiroam? O prêmio é em barras de ouro, que vale mais que dinheiroam. Mah roda a
        roduamm.

        Estamos em ritmo de festamm. Mah é a porta da esperançaam. Vem pra lá, mah você vai pra cá. Agora vai, agora vem
        pra láamm. Ma vai pra lá. Valendo um milhão de reaisammm. Mah você mora com o papai ou com a mamãem? Ma o Silvio
        Santos Ipsum é muitoam interesanteam. Com ele ma você vai gerar textuans ha haae. Ma você está certo dissoam?

        Vem pra lá, mah você vai pra cá. Agora vai, agora vem pra láamm. Boca sujuam... sem vergonhuamm.
        Patríciaaammmm... Luiz Ricardouaaammmmmm. Ma! Ao adquirir o carnê do Baú, você estará concorrendo a um prêmio de
        cem mil reaisam. Mah roda a roduamm. Eu não queria perguntar isso publicamente, ma vou perguntar. Carla, você
        tem o ensino fundamentauam? Você veio da caravana de ondeammm? É por sua conta e riscoamm? O Raul Gil é gayam!
        ... Maa O Ah Ae! Ih Ih! O Raul Gil é gayamm!

        O prêmio é em barras de ouro, que vale mais que dinheiroam. Ma você está certo dissoam? É fácil ou não éam? Mah
        roda a roduamm. O Raul Gil é gayam! ... Maa O Ah Ae! Ih Ih! O Raul Gil é gayamm! Ma você, topa ou não topamm.
        Mah você não consegue né Moisés? Você não consegueam. É fácil ou não éam? É namoro ou amizadeemm? É dinheiro ou
        não éam? Ma vai pra lá. Estamos em ritmo de festamm. Mah você não consegue né Moisés? Você não consegueam.

        Ma vai pra lá. Wellintaaammmmmmmmm. Ma vale dérreaisam? Estamos em ritmo de festamm. Ma o Silvio Santos Ipsum é
        muitoam interesanteam. Com ele ma você vai gerar textuans ha haae. Mah você mora com o papai ou com a mamãem?
        Wellintaaammmmmmmmm. O arriscam tuduam, valendo um milhão de reaisuam. Ma vale dérreaisam? Patríciaaammmm...
        Luiz Ricardouaaammmmmm. É dinheiro ou não éam?

    </div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
